<html>
<head>
	<link href="style.css" rel="stylesheet" type="text/css">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="container">
	<div class="menu">
		<h3>Home</h3>
		<div id="menu_contents">
			<a href="main.html" target="main">Component Description</a><br />
		</div>
	</div>
</div>
</body>
</html>
