<html>
<head>
	<link href="../../style.css" rel="stylesheet" type="text/css">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
	<table style="border-collapse: collapse;" width="100%">
		#foreach( $sourceCodeLine in $methodsSourceList )
			#set($lineNum = "${foreach.count}.")
			<tr>
				#if ( $sourceCodeLine.covered )
					<td class="num covered">$lineNum</td>
					<td class="code covered"><pre>$sourceCodeLine.source</pre></td>
				#else
					<td class="num">$lineNum</td>
					<td class="code"><pre>$sourceCodeLine.source</pre></td>
				#end
			</tr>
		#end
	</table>
</body>
</html>
